/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}

@font-face {
   font-family: 'Montserrat-Regular';
   font-weight: normal;
   font-style: normal;
   src: url('../fonts/Montserrat/Montserrat-Regular.eot');
   src: url('../fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
   font-family: 'Montserrat-Medium';
   font-weight: normal;
   font-style: normal;
   src: url('../fonts/Montserrat/Montserrat-Medium.eot');
   src: url('../fonts/Montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff'), url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
   font-family: 'Montserrat-Bold';
   font-weight: normal;
   font-style: normal;
   src: url('../fonts/Montserrat/Montserrat-Bold.eot');
   src: url('../fonts/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}


body {
   font: 400 14px/1.5 'Montserrat-Regular', 'Arial', serif;
   font-size: calc(13px + (18 - 13) * ((100vw - 375px) / (1920 - 375)));
   font-weight: normal;
   font-style: normal;
   position: relative;
   height: 100%;
   margin: 0;
   padding: 0;
   transition: all .3s ease-out;
   color: #333;
}

.main {

   &__container {
      display: grid;
      grid-template-areas:
         "sidenav header"
         "sidenav content"
         "sidenav footer";
      grid-template-rows: 6vmax 1fr 66px;
      grid-template-columns: 24vw 1fr;
      height: 100vh;
   }
}

.sidenav {
   grid-area: sidenav;
   background-color: #fff;
   box-shadow: 0 4px rgb(0 0 0 / 8%);

   &__top {
      display: flex;
      justify-content: space-between;
      padding: 32px;
      border-bottom: 1px solid #e5e5e5;
      align-items: center;
   }

   &__logo {
      display: block;
      max-width: 160px;

      img {
         display: block;
         width: 100%;

      }
   }

   &__contact {
      margin-left: 10px;
   }

   &__title {
      display: flex;
      flex-direction: column;
      height: auto;
      align-items: flex-start;
      color: #333;
      box-sizing: inherit;
   }

   &__text {
      font-family: 'Montserrat-Regular', 'Arial', serif;
      font-size: 12px;
      line-height: 16px;
      color: rgba(51, 51, 51, .6);
   }

   &__body {
      display: flex;
      flex-direction: column;
      padding: 32px;
      justify-content: space-between;
   }

   &__accordion {
      width: 100%;
      border-bottom: none;
   }
}

.accordion {

   &__list {}

   &__item {}

   &__btn {
      font-family: 'Montserrat-Medium', 'Arial', serif;
      font-size: 15px;
      position: relative;
      display: flex;
      flex-direction: row;
      height: 30px;
      padding: 12px;
      cursor: default;
      transition: all .15s;
      text-decoration: none;
      color: #333;
      background-color: transparent;
      align-items: center;
      justify-content: space-between;
      will-change: background-color;

      &::before {
         position: absolute;
         z-index: 1;
         top: 50%;
         right: 2px;
         display: block;
         width: 2px;
         height: 8px;
         content: '';
         transition: all .15s;
         -webkit-transform: translateX(-50%) translateY(-50%);
         transform: translateX(-50%) translateY(-50%);
         background-color: #333;
         will-change: transform, width;
      }

      &notShow::before {
         display: none;
      }

      &::after {
         position: absolute;
         top: 50%;
         right: 0;
         display: block;
         width: 8px;
         height: 2px;
         content: '';
         transition: all .15s;
         -webkit-transform: translateY(-50%);
         transform: translateY(-50%);
         background-color: #333;
         will-change: transform;
      }

      p {
         font-weight: normal;
         position: absolute;
         left: 0;
         overflow: hidden;
         cursor: pointer;
         white-space: nowrap;
         text-overflow: ellipsis;
      }
   }

   &__checkList {
      //display: none;
   }

   &__content {
      display: none;
      padding: 10px 0 10px 0;
      background-color: transparent;
      will-change: height;

      .link {
         //display: none;
         transition: color, .2s;
         vertical-align: top;
         text-decoration: none;
         color: #333;

         &:hover,
         &.selected {
            color: #f49b00;
         }
      }
   }
}

/*
.link {
   display: inline-block;
   transition: color, .2s;
   vertical-align: top;
   text-decoration: none;
   color: #333;


&:hover,
&.selected {
   color: #f49b00;
}
}
*/

.header {
   grid-area: header;
   width: 100%;
   padding: 10px 32px;
   background-color: #e5e5e5;
   //display: flex;
   //ustify-content: space-between;
   align-items: center;

   &__top {
      display: flex;
      justify-content: space-between;
      height: 100%;
      align-items: center;
   }

   &__time {
      font-family: 'Montserrat-Bold', 'Arial', serif;
      font-size: calc(14px + (22 - 14) * ((100vw - 375px) / (1920 - 375)));
   }

   &__user {}
}

.user {
   display: flex;

   &__name {

      a {
         font-size: calc(13px + (18 - 13) * ((100vw - 375px) / (1920 - 375)));
         display: inline-block;
         transition: color, .2s;
         vertical-align: top;
         text-decoration: none;
         color: #333;
      }

      &::before {
         content: "\e936";
      }
   }
}

.bold {
   font-family: 'Montserrat-Bold', 'Arial', serif;

}

h1 {
   font-size: calc(18px + (28 - 18) * ((100vw - 375px) / (1920 - 375)));
   font-weight: normal;
   line-height: initial;
   margin-top: 0;
   margin-bottom: 20px;
}

h3 {
   font-weight: bold;
   margin-bottom: 15px;
}

.content {
   grid-area: content;
   width: 100%;
   margin-bottom: 50px;
   padding: 0 32px;

   &__breadcrumbs {
      margin: 20px 0;
   }

   &__wrapper {}

   &__title {

      font-size: calc(14px + (22 - 14) * ((100vw - 375px) / (1920 - 375)));

   }

   &__body {
      //display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      a {
         display: flex;
         max-width: 300px;
         align-items: center;
         justify-content: center;
      }
   }

   &__box {
      display: flex;
      width: 100%;
      align-items: stretch;
      justify-content: space-between;
      //flex-direction: column;

   }

   &__item {
      //display: flex;
      //justify-content: space-between;
      width: calc(50% - 16px);
      margin-right: 32px;
      padding: 20px;
      background: rgba(245, 245, 245, .35);
   }
}

.breadcrumbs {

   &__list {
      display: flex;
      margin: 0;
      padding: 0;
      list-style-type: none;
      flex-wrap: wrap;
      font-size: calc(13px + (18 - 13) * ((100vw - 375px) / (1920 - 375)));

      li {


         p {
            margin: 0 5px;
            display: inline-block;
            vertical-align: top;
         }
      }
   }


}

.bc {

   &_long {}
}

.link {
   font-size: calc(13px + (18 - 13) * ((100vw - 375px) / (1920 - 375)));
   display: inline-block;
   transition: color, .2s;
   vertical-align: top;
   text-decoration: none;
   color: #333;
}

.disabled {
   cursor: default;
   color: #b3b8c0;
   margin: 0;
}



.item {


   &__title {
      margin-bottom: 12px;
   }

   &__ganters {}
}

.ganter {
   display: flex;
   margin-bottom: 20px;
   text-align: left;

   &__avatar {}

   &__name {}
}

.icon {}

.icon-transformers {}

.text {
   display: inline-block;
   font-size: 10px;
   color: #005726;
   //position: absolute;
   bottom: 0;
   left: 2px;

   &_18 {
      font-size: calc(14px + (22 - 14) * ((100vw - 375px) / (1920 - 375)));
   }

   &_14 {
      font-size: calc(12px + (16 - 12) * ((100vw - 375px) / (1920 - 375)));
      opacity: .7;
   }
}

.light {

   &_gray {}
}


.btn {

   font-family: 'Montserrat-Medium', 'Arial', serif;
   font-size: 15px;
   position: relative;
   display: inline-block;
   height: 54px;
   padding: 5px 24px;
   cursor: pointer;
   transition: all .3s ease-out;
   text-align: center;
   vertical-align: top;
   white-space: nowrap;
   text-decoration: none;
   color: #fff;
   border-width: 1px;
   border-style: solid;
   border-color: #f49b00;
   border-radius: 0;
   outline: 0;
   background-color: #f49b00;
   box-shadow: none;
   margin-top: 32px;

}

.popup {
   position: absolute;
   z-index: 9;
   top: 5%;
   right: 50%;
   display: none;
   width: auto;
   max-width: 800px;
   margin: 20px 0;
   -webkit-transform: translateX(50%);
   transform: translateX(50%);
   background-color: #fff;

   &_wrapper {}

   &_inner {
      width: 100%;
      padding: 40px;
   }
}

.close-modal {
   position: absolute;
   z-index: 9;
   top: 0;
   right: -60px;
   display: flex;
   width: 50px;
   height: 50px;
   cursor: pointer;
   color: transparent;
   align-items: center;
   justify-content: center;
}

.round {

   &_link {}
}

.icon {}

.icon-cancel1 {}

.popup_inner {

   &__body {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      align-items: flex-start;
      justify-content: center;
   }
}

.call {

   &_body {}
}

.error {}

.tile {

   &_categ {
      display: flex;
      width: 100%;
      padding-bottom: 20px;
      border-bottom: 1px solid #e5e5e5;
      align-items: stretch;
      flex-wrap: wrap;
   }
}

.tile_categ {
   display: flex;
   width: 100%;
   padding-bottom: 20px;
   border-bottom: 1px solid #e5e5e5;
   align-items: stretch;
   flex-wrap: wrap;

   &__item {
      width: calc(50% - 40px);
      margin-right: 80px;
      margin-bottom: 50px;
   }
}

.form {

   &__item {
      font-size: calc(12px + (16 - 12) * ((100vw - 375px) / (1920 - 375)));
      display: inline-block;
      width: 100%;
      height: 54px;
      padding: 5px 12px;
      vertical-align: top;
      color: #333;
      border: 1px solid #e5e5e5;
      border-radius: 0;
      background-color: #fff;
      box-shadow: none;
   }
}

.mb {

   &_20 {
      margin-bottom: 20px;
   }
}

.blocker {
   position: fixed;
   z-index: 100;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: auto;
   box-sizing: border-box;
   width: 100%;
   height: auto;
   min-height: 100%;
   -webkit-animation: show;
   animation: show;
   -webkit-animation-duration: .3s;
   animation-duration: .3s;
   background: rgba(0, 0, 0, .3);
}

select {
   height: 56px;
   border: 1px solid #e5e5e5;
   background: #fff;
   width: 100%;
}

input {
   line-height: normal;
}

.footer {

   &__wrapper {
      display: flex;
      width: 100%;
      padding: 32px;
      background-color: #f5f5f5;
      align-items: stretch;
      font-size: calc(12px + (17 - 12) * ((100vw - 375px) / (1920 - 375))) !important;
   }

   &__item {}

   &__list {}
}

.show {
   display: block;
}


.authform {
   margin: 0 0 25px;
   max-width: 500px;

   &__body {}

   &__container {
      margin-bottom: 25px;

      input[type='button'],
      input[type='reset'],
      input[type='submit'] {
         cursor: pointer;
         -webkit-appearance: button;

      }
   }

   &__label {
      font-size: 13px;
      color: #5a6c77;
      padding-bottom: 2px;
   }

   &__input {
      position: relative;

      input[type="text"],
      input[type="password"] {
         display: block;
         width: 100%;
         font-size: 18px;
         height: 38px;
         margin: 0;
         padding: 0 4px;
         border: 1px solid #ccd5db;
         border-radius: 2px;
         background: #f8fafc;
         outline: 0;
         -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
         box-sizing: border-box;
      }
   }

   &__item {}

   &__checkbox {

      input[type='checkbox'],
      input[type='radio'] {
         box-sizing: border-box;
         padding: 0;
      }
   }

   &__filter {

      &_text {}
   }

   &__light {
      border: 0;
      border-bottom: 1px solid #e5e5e5;
      margin-top: 20px;
      margin-bottom: 20px;
   }

   &__link {
      margin-bottom: 20px;
      padding-bottom: 10px;
      font-size: 13px;
      color: #292d2e;
   }
}

.mb {

   &_20 {}
}

.btn-primary {
   margin-top: 0px;
}

a {
   transition: color, .2s;
   background-color: transparent;
}

b {
   font-weight: bold;
}